[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
ipython = "*"
jupyter = "*"
keras = "*"
tensorflow-gpu = "*"
keras-rl = "*"
tensorflow-cpu = "*"

[packages]
gym = "*"
pygame = "*"
numpy = "*"

[requires]
python_version = "3.7"
